:root {
  --dimension: 380px;
  --orange: rgba(255, 180, 15, 0.6);
  --blue: rgba(0, 37, 101, 0.6);
  --animation-duration: 0.3s;
  --title-color: #333;
  --title-outline: rgba(255,255,255,0.5);
  --title-outline-over: rgba(255, 255, 255, 0.90);
  --title-outline-blur-radius: 0.09em;
  --title-outline-blur-radius-over: 0.12em;
}

@font-face {
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/anek-malayalam_5.0.19/webfonts/anek-malayalam-latin-400-normal.woff2') format('woff2'),
    url('/fonts/anek-malayalam_5.0.19/webfonts/anek-malayalam-latin-400-normal.woff') format('woff'),
    url('/fonts/anek-malayalam_5.0.19/ttf/anek-malayalam-latin-400-normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/anek-malayalam_5.0.19/webfonts/anek-malayalam-latin-700-normal.woff2') format('woff2'),
    url('/fonts/anek-malayalam_5.0.19/webfonts/anek-malayalam-latin-700-normal.woff') format('woff'),
    url('/fonts/anek-malayalam_5.0.19/ttf/anek-malayalam-latin-700-normal.ttf') format('truetype');
}

body {
  line-height: 1.8em;
  font-family: 'Anek Malayalam', Verdana, sans-serif;
  background: var(--orange);
  background: linear-gradient(180deg, var(--orange) 0%, var(--blue) 100%);
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #000
}

ul {
  list-style: none;
  display: flex;
  gap: 1em;
  padding: 0;
  margin: 0;
  flex-flow: row wrap;

}

li {
  border: 1px solid rgba(0, 11, 43, 0.7);
  border-radius: 1.5em 1.5em 1.5em 0;
  display: block;
  width: var(--dimension);
  height: var(--dimension);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  background-color: rgba(220, 220, 220, 0.8);
  box-shadow: 2px 2px 5px rgba(0, 11, 43, 0.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  transition: box-shadow var(--animation-duration) ease-out;
}

li:hover {
  background-color: rgba(220, 220, 220, 1);
  background-blend-mode: multiply;
  box-shadow: 4px 8px 10px rgba(0, 11, 43, 0.8);
}

.title,
.authors,
.date,
.time,
.location {
  display: block;
  justify-self: flex-end;
}

.authors {
  color: var(--blue);
  font-weight: bold;
}

.authors a {
  color: rgb(255, 219, 134);
  font-weight: bold;
}

a.title {
  text-align: right;
  transition: backdrop-filter var(--animation-duration), transform var(--animation-duration), letter-spacing var(--animation-duration), text-shadow var(--animation-duration);
  justify-self: flex-start;
  flex: 2;
  backdrop-filter: blur(3px);
  margin: 0;
  letter-spacing: 0.15rem;

}

a.title,
a.title:link,
a.title:visited,
a.title:hover,
a.title:active {
  color: var(--title-color);
  font-weight: bold;
  text-shadow:
      0.05em 0 var(--title-outline-blur-radius) var(--title-outline),
      0 0.05em var(--title-outline-blur-radius) var(--title-outline),
      -0.05em 0 var(--title-outline-blur-radius) var(--title-outline),
      0 -0.05em var(--title-outline-blur-radius) var(--title-outline),
      -0.05em -0.05em var(--title-outline-blur-radius) var(--title-outline),
      -0.05em 0.05em var(--title-outline-blur-radius) var(--title-outline),
      0.05em -0.05em var(--title-outline-blur-radius) var(--title-outline),
      0.05em 0.05em var(--title-outline-blur-radius) var(--title-outline);
  padding: 1em;
  border-radius: 1.5em 1.5em 0 0;
}


li:hover .title {
  backdrop-filter: none;
  transform: scale(1.05);
  text-shadow:
      0.05em 0 var(--title-outline-blur-radius-over) var(--title-outline-over),
      0 0.05em var(--title-outline-blur-radius-over) var(--title-outline-over),
      -0.05em 0 var(--title-outline-blur-radius-over) var(--title-outline-over),
      0 -0.05em var(--title-outline-blur-radius-over) var(--title-outline-over),
      -0.05em -0.05em var(--title-outline-blur-radius-over) var(--title-outline-over),
      -0.05em 0.05em var(--title-outline-blur-radius-over) var(--title-outline-over),
      0.05em -0.05em var(--title-outline-blur-radius-over) var(--title-outline-over),
      0.05em 0.05em var(--title-outline-blur-radius-over) var(--title-outline-over);
}

.authors,
.date,
.time,
.location {
  text-align: right;
  margin: 1px 1em;
}

li img {
  height: 1.4em;
  margin-left: 0.5em;
}
